* {
  margin: 0px;
}
.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .info-container {
    width: 50vw;
  }
}
.heading {
  font-family: "Roboto";
  font-size: 35px;
}
.notification {
  height: 60px;
  width: 90vw;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .notification {
    width: 50vw;
  }
}
.inform-message-container {
  background-color: #0b69ff;
}
.message-text {
  margin-left: 10px;
  font-size: 17px;
  font-family: "Roboto";
}
.message-icon {
  height: 40px;
}
.success-message-container {
  background-color: #2dca73;
}
.warning-message-container {
  background-color: #ffb800;
}
.danger-message-container {
  background-color: #ff0b37;
}
